/* .app {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url('./img/muelleimer-leon-seibert-unsplash.jpg');
  background-size: cover;
  background-position: center;
} */

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.tetris {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

.heading {
  display: flex;
  height: 4rem;
  background-color: #ff6600;
  color: #fff;
}
