.wrapper {
  background-image: linear-gradient(to right bottom, rgb(255, 102, 0, 0.5), rgb(255, 102, 0, 0.3)),
    url('./assets/img/muellabfuhr_abfalltrennung_tonnen_1500x750_3x2_rdax_85s-copyright-bsr.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.tetris {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 10vh 10vw;
  margin: 0 auto;
  height: 100%;
}

.heading {
  display: flex;
  height: 4rem;
  background-color: #ff6600;
  color: #fff;
}
